@import "../../App.scss";

.container {
    display: grid;
    gap: 24px;
    padding: 70px 60px;
    height: 100vh;
    grid-template-rows: fit-content(100%);
    grid-template-columns: 60% 30%;
    align-items: start;
    justify-items: start;
    justify-content: space-between;
    grid-template-areas: 
    "header informacoes"
    "sobreMim informacoes"
    "sobreMin redesSociais"
    "footer footer";
}

@include mobile{
    .container {
        padding: 20px 30px;
        justify-items: center;
        align-items: center;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "redesSociais"
        "sobreMim"
        "informacoes"
        "footer";
    }
}